raw_data/
genre_classified_dataset/
fixed_genre_classified_dataset/
data_classification/
sequences_with_labels.csv
outputs/generated_music_4.mid
models/classification/genre_classifier.joblib
enumarators/
test_dataset/
sources/random_sequences.py
outputs/
models/
